body {

    margin:0px;
    background-color:hsla(0, 0%, 100%, 0.508)ff ;

}



.navbar ul{

    list-style-type:none;
    background-color:hsl(120, 56%, 40%)  ;
    padding:0px;
    margin: 0px;
    overflow: hidden;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

footer{
    background: hsla(0, 0%, 100%, 0.024);
    height: 0cm;
    width: 100vw;
    font-family: 'Times New Roman';
    padding-top: 100px;
    color: white;

}
.footer-content{

    display:flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    text-align: center;


}
.footer-content li{
    margin:0 10px;
}
.footer-content a{

    text-decoration: none;
    color:hsl(0, 0%, 2%)00;

}

.navbar button:hover{
    background-color:hsl(120, 26%, 28%) ;

}
.navbar li{

    float:left;
}
.navbar button{

    background-color:hsl(120, 56%, 40%)  ;
   
    margin: 0px;
    overflow: hidden;
    color:white;
    cursor: pointer;
    border:none;
     text-decoration: none;
        padding: 15px;
    display:block;
    text-align:center;

}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup label {
    margin-bottom: 8px;
}

.popup input {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.popup button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}
.poll {
    margin-bottom: 15px;
}
input {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
label {
    margin-bottom: 8px;
  
}
